.HistoryPage {
    padding: 10vmin 0 10vmin 0;
}

.HistoryPage .pending-order-container {
    padding: 13vmin 75vmin 3vmin 45vmin;
    margin-top: 3vmin;
}

.HistoryPage .pending-order-container .order-all-container:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.HistoryPage .pending {
    font-size: 3vmin;
    padding-bottom: 2vmin;
    border-bottom: 0.01vmin solid rgba(255, 255, 255, 0.3);
}

.HistoryPage .no-pending {
    font-size: 2vmin;
}

.HistoryPage .order-all-container {
    border-bottom: 0.01vmin solid rgba(255, 255, 255, 0.2);
    padding-bottom: 2vmin;
}

.HistoryPage .order-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vmin 2vmin 0 0.35vmin;
}

.HistoryPage .order-left {
    display: flex;
    flex-direction: column;
}

.HistoryPage .order-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.HistoryPage .order-type, .order-price {
    font-size: 1.8vmin;
}

.HistoryPage .order-date, .order-qty {
    font-size: 1.5vmin;
}

.HistoryPage .pending-order {
    font-size: 2vmin;
}

.HistoryPage .transaction-container {
    padding: 0 75vmin 3vmin 45vmin;
    margin-top: 3vmin;
}

.HistoryPage .transaction-container .order-content {
    padding: 2vmin 2vmin 2vmin 0.35vmin;
    border-bottom: 0.01vmin solid rgba(255, 255, 255, 0.2);
}

.HistoryPage .transaction-container .order-content:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.HistoryPage .order-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.HistoryPage .order-deposit {
    color: rgb(4, 202, 4);
    font-size: 1.8vmin;
}

.HistoryPage .order-detail-container {
    display: none;
    flex-direction: column;
    padding: 0.5vmin 1vmin 0 1vmin;
    margin-top: 2vmin;
    border-top: 0.01vmin solid rgba(255, 255, 255, 0.2);
}

.HistoryPage .order-detail-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.HistoryPage .order-detail-card {
    display: flex;
    flex-direction: column;
    margin-top: 2vmin;
}

.HistoryPage .green {
    color: rgb(4, 202, 4);
}

.HistoryPage .order-detail-title {
    font-weight: bold;
    font-size: 1.6vmin;
}

.HistoryPage .order-detail-content {
    margin-top: 0.5vmin;
    font-size: 1.5vmin;
}

.HistoryPage .cancel-order {
    width: 20%;
    font-size: 1.6vmin;
    padding: 0;
    margin: 0;
    text-align: left;
    border: none;
    background-color: transparent;
}

.HistoryPage .cancel-order:hover {
    color: coral;
}

