/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  background-color: black;
  color: white;
  padding: 0;
}

.main-nav, .search-bar-container, .search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-nav {
  padding: 0 6vmin 0 6vmin;
  font-size: 2vmin;
  color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: black;
  height: 8vmin;
}

.main-nav a {
  color: white;
  text-decoration: none;
}

.search-bar button {
  margin: 0 !important;
  height: 3vmin;
  font-size: 1vmin;
  padding-bottom: 2.5vmin;
}

.search-bar button:hover {
  background-color: white;
  color: black;
}

.search-bar input {
  height: 3vmin;
  width: 50vmin;
  box-shadow: 0.3vmin 0.5vmin 1vmin 0 white
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 2 !important;
  top: 160%;
  right: 0;
  min-width: 25vmin;
  padding: 1vmin 0;
  background-color: #fff;
  box-shadow: -0.4vmin 0.6vmin 1vmin 0.1vmin rgba(255, 255, 255, 0.6);
}

.dropdown-content a {
  color: #333;
  padding: 1.5vmin 3vmin;
  display: block;
  cursor: pointer;
  z-index: 3;
}

a div {
  display: flex;
  align-items: center;
  gap: 2vmin;
}

.dropdown-content span {
  padding: 1vmin 3vmin 1.5vmin 3vmin;
  display: block;
  border-bottom: 0.1vmin solid black;
  color: black;
}

.dropdown-content a:hover {
  background-color: #f2f2f2;
}

.show {
  display: block !important;
}

.nav-right {
  display: flex;
  gap: 5vmin;
}

.nav-right > a:hover, .dropbtn:hover {
  text-decoration: underline;
}

