.HomePage {
    padding: 6vmin 65vmin 10vmin 26vmin;
}

/* WatchList Component */

/* For Chrome and Safari */
.watchlist::-webkit-scrollbar { 
    display: none !important; 
}

.watchlist {
    position: fixed;
    top: 12vmin;
    right: 13vmin;
    height: 80vh;
    width: 35vmin;
    overflow-y: scroll;
    /* hide scrollbar */
    scrollbar-width: none; /* For modern browsers */
    -ms-overflow-style: none;  /* IE and Edge */
    box-shadow: 0px 0px 1vmin 0.5vmin rgba(255, 254, 254, 0.2);
    border: 0.1vmin solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 0;
}

.watchlist ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.watchlist li {
    width: 100%;
    padding: 1vmin;
    text-align: center;
}

.watchlist-title {
    font-size: 3vmin;
}

.stock-watchlist {
    border-bottom: 0.1vmin solid white;
    font-size: 2vmin;
}

.crypto-watchlist, .stock-watchlist {
    border-bottom: 0.1vmin solid rgba(255, 255, 255, 0.2);
    border-top: 0.1vmin solid rgba(255, 255, 255, 0.8);
    font-size: 2.5vmin;
}

/* End WatchList Component */

img {
    width: 100%;
}

h1 {
    border-bottom: 0.1vmin solid white;
    padding-bottom: 1.5vmin;
    margin-top: 5vmin;
    font-size: 3vmin;
}

/* BuyingPower Component */
.buying-power-content {
    display: flex;
    justify-content: space-between;
    border-top: 0.1vmin solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.1vmin solid rgba(255, 255, 255, 0.2);
    padding: 0 2vmin;
}

.buying-power-container:hover {
    background-color: #222121;
}

#buying-power-section {
    grid-template-columns: 1fr 1fr;
    border-bottom: 0.1vmin solid rgba(255, 255, 255, 0.2);
    padding-bottom: 2vmin;
    display: none;
}

.right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8vmin;
    font-size: 2.5vmin;
}

.show-modal-btn {
    margin-left: 6vmin;
    margin-top: 3vmin;
    width: 80%;
    border-radius: 50vmin;
}

.show-modal-btn:hover {
    background-color: dimgray;
}

.show-section {
    display: grid !important;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s;
    z-index: 2;
}

.modal > .deposit-form {
    height: 52vmin;
    width: 50vmin;
    display: flex;
    flex-direction: column;
    background-color:rgb(41, 40, 40);
    padding: 4vmin;
    box-shadow: 0 0 3vmin 0.5vmin white;
    border-radius: 2vmin;
}

.deposit-form span {
    font-size: 3vmin;
    margin-bottom: 1vmin;
}

.deposit-form-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 3vmin;
}

.deposit-form input, .deposit-form select {
    height: 4vmin;
    width: 28vmin;
    font-size: 2vmin;
}

.deposit-form button {
    margin: 4vmin 0;
    border-radius: 50vmin;
    background-color: black;
}

.deposit-form button:hover {
    background-color: dimgray;
    cursor: pointer;
}

/* End BuyingPower Component */

/* NewsHome Component */
.news-container {
    display: grid;
    grid-template-columns: 5fr 1fr;
    color: white;
    padding: 2.5vmin 2vmin;
    text-decoration: none;
    border-top: 0.1vmin solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.1vmin solid rgba(255, 255, 255, 0.2);
}

.news-container:hover {
    background-color: #222121;
}

.news-content-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5vmin;
    padding-right: 5vmin;
}

.news-time {
    font-size: 1.6vmin;
}

.news-ticker {
    flex-wrap: wrap;
}

.news-topic {
    flex-wrap: wrap;
}

.news-content-left p {
    margin: 0;
    font-size: 1.8vmin;
}

.news-ticker span {
    color: white;
    background-color:rgba(248, 246, 189, 0.5);
    height: 2.6vmin;
    padding: 0.2vmin 2.5vmin;
    border-radius: 50vmin;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vmin;
}

.news-ticker span:hover {
    background-color:blanchedalmond;
    color: black;
}

.topic {
    background-color:rgba(255, 255, 255, 0.3);
    color: white;
    text-align: center;
    border-radius: 1vmin;
    height: 2.5vmin;
    padding: 0.2vmin 1vmin;
    font-size: 1.5vmin;
}

.news-content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-content-right img {
    height: 13vmin;
    width: 25vmin;
}

/* End NewsHome Component */

/* LearnInvesting Component */
.cards-container {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none; /* hide the scrollbar for modern browsers */
    -ms-overflow-style: none;  /* IE and Edge */
}

/* For Chrome and Safari */
.cards-container::-webkit-scrollbar { 
    display: none !important; 
}
  
.card {
    flex: 0 0 22vmin;
    margin-right: 3vmin;
    height: 18vmin;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    text-decoration: none;
    color: white;
    opacity: 0.9;
}

.card:hover {
    opacity: 1;
}

.card-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-title span {
    padding-left: 1.2vmin;
    width: 10vmin;
    font-size: 1.6vmin;
    margin-bottom: 2vmin;
}

.card img {
    height: 18vmin;
    width: 10vmin;
}

.card-scroll-left-btn,
.card-scroll-right-btn {
    position: absolute;
    height: 4vmin;
    width: 4vmin;
    top: 90vmin;
    border: 0.1vmin solid rgba(255, 255, 255, 0.5);
    background-color: black;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.card-scroll-left-btn {
    display: none;
}

.card-scroll-left-btn:hover,
.card-scroll-right-btn:hover {
    background-color: #222121;;
}

.card-scroll-left-btn {
  left: 22.5vmin;
}

.card-scroll-right-btn {
  right: 61.5vmin;
}

.btn-move-down {
    top: 117.8vmin !important;
}

.card1 {
    background-color: rgb(35, 135, 88);
}

.card2 {
    background-color: rgb(0, 42, 81);
}

.card3 {
    background-color: rgb(82, 20, 43);
}

.card4 {
    background-color: rgb(105, 77, 0);
}

.card5 {
    background-color: rgb(0, 42, 81);
}

.card6 {
    background-color: rgb(0, 64, 34);
}

.card7 {
    background-color: rgb(0, 127, 245);
}

.card8 {
    background-color: rgb(36, 30, 51);
}

.card9 {
    background-color: rgb(1, 82, 44);
}

.card10 {
    background-color: rgb(36, 30, 51);
}