.StockPage {
    padding: 6vmin 75vmin 10vmin 24vmin;
}

.stockpage-symbol-name {
    display: flex;
    justify-content: space-between;
}

.add-to-list {
    margin: 0;
    padding: 0;
    width: 20%;
    border: none;
    font-size: 2vmin;
    border-radius: 50vmin;
    border-bottom: 0.01vmin groove rgba(75, 192, 192, 0.8);
}

.add-to-list:hover {
    color:rgb(75, 192, 192, 1);
    cursor: pointer;
}

/* StockChart Component */
#stock-chart {
    height: 40vmin !important;
}

#chart-container {
    padding-right: 3vmin;
}

#chart-container p {
    font-size: 3.5vmin;
}
/* End StockChart Component */

.stock-info {
    display: flex;
    gap: 4vmin;
}

.chart-btns-container {
    display: flex;
    gap: 3vmin;
    padding: 0.2vmin 3vmin;
    border-bottom: 0.1vmin solid rgba(255,255,255,0.5);
}

.chart-btn {
    border: none;
    font-size: 1.5vmin;
}

.chart-btn:hover {
    color: rgb(75, 192, 192);
}

.chart-btns-container .active {
    border-bottom: 0.2vmin solid rgb(75, 192, 192);
    color: rgb(75, 192, 192);
}

/* StockOverview Component */
.stock-overview-content {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.6fr;
    margin-bottom: 1vmin;
}

.stock-overview-content span {
    margin-right: 0.5vmin;
    color:rgb(75, 192, 192, 0.8);
}

.stock-overview-container {
    font-size: 1.8vmin;
}

.stock-overview-content p {
    margin: 0;
}

.stock-description {
    margin-top: 2vmin;
    line-height: 3vmin;
    letter-spacing: 0.08vmin;
}

.stock-stats-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.2fr;
    margin-bottom: 1.1vmin;
}

.stock-stats {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 1.6vmin;
}

.stock-stats-content span {
    margin-bottom: 0.7vmin;
    color:rgb(75, 192, 192, 0.8);
    font-size: 1.7vmin;
}

.info-title {
    display: flex;
    align-items: center;
}

.info-detail {
    font-size: 1.6vmin;
    margin-left: 0.8vmin;
    opacity: 0.5;
    cursor: default;
    border-radius: 50%;
    background-color: rgb(75, 192, 192);
    width: 1.5vmin;
    height: 1.5vmin;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5vmin !important;
    position: relative;
}

.info-detail:hover {
    opacity: 1;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 3;
    width: 35vmin;
    color: white !important;
    font-size: 18px;
    background-color: rgba(25, 39, 51, 0.8);
    border-radius: 2vmin;
    padding: 1.5vmin;
    opacity: 1 !important;
}

.tooltip-text::before {
    content: "";
    position: absolute;
    padding: 5px;
    z-index: 2;
}

.info-detail:hover .tooltip-text {
    visibility: visible;
}

#right {
    top: -2vmin;
    left: 200%;
}
  
#right::before {
    top: 35%;
    left: -2%;
}
/*  End StockOverview Component */

/* StockNews Component */

.stock-news-container .news-container {
    padding: 2vmin 3vmin 2vmin 1vmin;
}

/* End StockNews Component */

/* StockOrder Component */
.stock-order-container {
    position: fixed;
    top: 16vmin;
    right: 25vmin;
    height: auto;
    width: 42vmin;
    box-shadow: 0px 0px 1vmin 0.5vmin rgba(75, 192, 192, 0.8);
    border: 0.1vmin solid white;
    display: flex;
    flex-direction: column;
    font-size: 2vmin;
}

.stock-order-form {
    padding: 2vmin;
}

#order-type {
    width: 1.8vmin;
    font-size: 1.8vmin;
    height: 2.5vmin;
    color: white;
    background-color: black;
    border: none;
}

#order-type option {
    font-size: 2vmin;
}

#order-type *:checked {
    color: rgba(75, 192, 192, 1);;
}

.order-title {
    font-size: 2vmin;
    display: flex;
    justify-content: space-around;
    border-bottom: 0.1vmin solid rgba(255,255,255,0.5);
}

.buy-order, .sell-order {
    padding-bottom: 3vmin;
    padding: 0 1.5vmin 3vmin 1.5vmin;
    cursor: default;
}

.buy-order:hover, .sell-order:hover {
    color: rgba(75, 192, 192, 1);
}

.order-title .active {
    border-bottom: 0.1vmin solid rgba(75, 192, 192, 1);
    color: rgba(75, 192, 192, 1);
}

.order-detail-container, .order-detail-overview {
    display: flex;
    flex-direction: column;
    gap: 2.3vmin;
}

.order-detail-container input, .order-detail-container select {
    height: 3.2vmin;
    width: 16vmin;
    background-color: black;
    color: white;
    font-size: 1.8vmin;
    border: 0.05vmin solid rgba(255,255,255,0.8);
    border-radius: 0.5vmin;
    padding: 0 0.5vmin
}

.order-detail-content-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.order-type-title {
    color:rgba(75, 192, 192, 1);
}

.order-detail-right {
    display: flex;
    justify-content: flex-end;
    padding-right: 2vmin;
}

.order-detail-overview {
    border-top: 0.1vmin solid rgba(255,255,255,0.5);
    border-bottom: 0.1vmin solid rgba(255,255,255,0.5);
    padding-top: 2vmin;
    padding-bottom: 2vmin;
    margin-top: 1vmin;
}

.review-order-container, .order-last-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-detail-overview button {
    border-radius: 50vmin;
    width: 85%;
    padding: 1.5vmin 0;
    background-color: rgba(75, 192, 192, 0.25);
}

.order-detail-overview button:disabled {
    background-color: black;
}

.order-detail-overview button:hover {
    background-color: rgba(75, 192, 192, 0.4);
}

.order-last-row {
    margin-bottom: 1vmin;
}

#order-expires {
    font-size: 1.5vmin
}

.initial-stop-price {
    width: 15vmin;
}

.review-container {
    display: flex;
    flex-direction: column;
}

.review-title {
    padding-bottom: 1vmin;
    border-bottom: 0.1vmin solid rgba(255,255,255,0.2);
}

.review-content {
    padding: 1vmin 0.5vmin 2vmin 0.5vmin;
    font-size: 1.5vmin;
    color: rgba(75, 192, 192);
}

.order-summary-btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.order-edit-btn {
    background-color: black !important;
}

.order-edit-btn:hover {
    background-color: rgba(75, 192, 192, 0.25) !important;
}

/* End StockOrder Component */